!!!
%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title sequel-web
    
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css', :media => 'screen'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/smoothness/jquery-ui-1.7.2.custom.css', :media => 'screen'}

    - ['json2', 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min.js', 'jquery.cookies.2.0.1', 'qtable', 'sequel-web'].each do |src|
      %script{:src => "/javascripts/#{src}.js", :type => 'text/javascript'}
  
  %body
    #container
      #header
        %h1 sequel-web
      - if connected? 
        = haml :db_menu, :layout => false      
      #main
        = haml :flash, :layout => false
        = yield
      #footer
        %p
          Sequel::Web Version 
          = Sequel::Web::VERSION + ". "
          Sequel Version 
          = Sequel::VERSION